<div class="wrapper">
  <div class="pwned-password-checker">
    <h2>Check if you password has been pwned</h2>

    <div class="password-checker">
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Enter password..."
        (input)="onPasswordInput()"
      />
      <button type="button" (click)="checkPassword()">Check</button>
    </div>

    @if(passwordStatus() !== null) {
    <div>
      @switch(passwordStatus()) { @case (true) {
      <p class="pwned">This password has been pwned!</p>
      } @case (false) {
      <p class="safe">This password is safe!</p>
      } @case ('error') {
      <p class="error">Error checking password. Please try again later!</p>
      } }
    </div>
    }
  </div>
</div>
