<div class="wrapper">
  <div class="crypto-options">
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="coin">Coin:</label>
        <select name="coin" id="coin" [(ngModel)]="coin">
          @for (coinOption of coinOptions; track coinOption) {
          <option [value]="coinOption">
            {{ coinOption }}
          </option>
          }
        </select>
      </div>

      <div>
        <label for="currency">Currency:</label>
        <select name="currency" id="currency" [(ngModel)]="currency">
          @for (currencyOption of currencyOptions; track currencyOption) {
          <option [value]="currencyOption">
            {{ currencyOption }}
          </option>
          }
        </select>
      </div>

      <div>
        <label for="days">Days:</label>
        <select name="days" id="days" [(ngModel)]="days">
          @for (daysOption of daysOptions; track daysOption) {
          <option [value]="daysOption">
            {{ daysOption }}
          </option>
          }
        </select>
      </div>

      <button type="submit">Update Chart</button>
    </form>
  </div>
</div>
