<div class="stats-container">
  @if (showContent()) {
  <button type="button" class="toggle-button" (click)="toggleStatus()">
    {{ showStats() ? '-' : '+' }}
  </button>

  @if (showStats()) {
  <div class="stats">
    <div class="stat-column">
      <div class="stat-item">
        <span>Clean speed:</span>
        <span class="result">{{ stats().cleanSpeed }}</span>
      </div>
      <div class="stat-item">
        <span>Accuracy:</span>
        <span class="result">{{ stats().accuracy }}</span>
      </div>
      <div class="stat-item">
        <span>Raw speed:</span>
        <span class="result">{{ stats().rawSpeed }}</span>
      </div>
    </div>

    <div class="stat-column">
      <div class="stat-item">
        <span>All words:</span>
        <span class="result">{{ stats().allWords }}</span>
      </div>
      <div class="stat-item">
        <span>Incorrect words:</span>
        <span class="result">{{ stats().incorrectWords }}</span>
      </div>
      <div class="stat-item">
        <span>All letters:</span>
        <span class="result">{{ stats().allLetters }}</span>
      </div>
      <div class="stat-item">
        <span>Incorrect letters:</span>
        <span class="result">{{ stats().incorrectLetters }}</span>
      </div>
    </div>
  </div>
  } }
</div>
